################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Sotting/.vs/Sotting/v15
/Sotting/.vs/Sotting/v16
